In [ ]:
import pandas as pd
df_movies = pd.read_csv('movies.csv')
df_ratings = pd.read_csv('ratings.csv')
df_merged = pd.merge(df_movies, df_ratings, on='movieId', how='inner')
df_merged.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [ ]:
df = df_merged.pivot_table(index='userId', columns='title', values='rating')
# Keep only movies that had at least 8 ratings
df = df.dropna(thresh=8, axis=1)
df.fillna(0, inplace=True)
df.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),12 Years a Slave (2013),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_similarity = df.corr(method='pearson')
#Store the data for later to be used in building the API
df_similarity.to_csv('movie_similarity.csv')
df_similarity.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),12 Years a Slave (2013),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,-0.018608,0.034223,0.009277,...,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,-0.017905,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.066567,0.159756,0.135486,...,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.126147,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,-0.017692,0.031704,-0.024275,...,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.082246,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.109729,0.011784,0.091964,...,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.088391,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.086195,0.059187,-0.025882,...,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.074425,0.088045,0.203002,0.083518

In [ ]:
movieLiked = 'Toy Story (1995)'
similarityScores = df_similarity[movieLiked]
similarityScores.sort_values(ascending=False)[1:21]

title
Toy Story 2 (1999)                                    0.461761
Groundhog Day (1993)                                  0.361540
Independence Day (a.k.a. ID4) (1996)                  0.358473
Willy Wonka & the Chocolate Factory (1971)            0.357314
Mission: Impossible (1996)                            0.352847
Nutty Professor, The (1996)                           0.350295
Bug's Life, A (1998)                                  0.345431
Lion King, The (1994)                                 0.344248
Babe (1995)                                           0.341136
Monsters, Inc. (2001)                                 0.330813
Back to the Future (1985)                             0.329944
Shrek (2001)                                          0.328867
Honey, I Shrunk the Kids (1989)                       0.328502
Jurassic Park (1993)                                  0.328246
Star Wars: Episode VI - Return of the Jedi (1983)     0.323144
Monty Python and the Holy Grail (1975)                0.322097
Aladdin (1992)                                        0.316598
Beauty and the Beast (1991)                           0.315809
Toy Story 3 (2010)                                    0.315797
Indiana Jones and the Last Crusade (1989)             0.314698
Indiana Jones and the Temple of Doom (1984)           0.308705
Men in Black (a.k.a. MIB) (1997)                      0.308657
Star Wars: Episode IV - A New Hope (1977)             0.303965
Mask, The (1994)                                      0.303549
Ghostbusters (a.k.a. Ghost Busters) (1984)            0.303190
Austin Powers: International Man of Mystery (1997)    0.300374
Little Mermaid, The (1989)                            0.298116
When Harry Met Sally... (1989)                        0.297194
Ferris Bueller's Day Off (1986)                       0.295566
Mary Poppins (1964)                                   0.295029
Truman Show, The (1998)                               0.292970
Pinocchio (1940)                                      0.292946
Finding Nemo (2003)                                   0.292934
Twister (1996)                                        0.292308
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)             0.291866
Apollo 13 (1995)                                      0.289453
Big (1988)                                            0.289075
E.T. the Extra-Terrestrial (1982)                     0.287558
Terminator, The (1984)                                0.286958
Incredibles, The (2004)                               0.286478
Space Jam (1996)                                      0.286410
Beetlejuice (1988)                                    0.285417
Shrek 2 (2004)                                        0.284920
Mrs. Doubtfire (1993)                                 0.284434
Wizard of Oz, The (1939)                              0.282078
Happy Gilmore (1996)                                  0.281987
Jungle Book, The (1967)                               0.280041
James and the Giant Peach (1996)                      0.275102
Star Trek: First Contact (1996)                       0.274762
Name: Toy Story (1995), dtype: float64